* {
    box-sizing: border-box;
}

html, head, body {
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Roboto', sans-serif;
}

a
{
    text-decoration: none;
    color: black;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

md-icon
{
    font-family: 'Material Symbols Outlined';
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 10px;
    padding: 5px 0;
}

.logo
{
    width: 300px;
    height: auto;
    object-fit: contain;
}

.specialization-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}

.specialization
{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .1s;
}

.specialization:hover
{
    scale: 1.03;
}

.specialization p
{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.header-line {
    width: 100%;
    height: 20px;
    background-color: var(--md-sys-color-surface-variant);
}

.page-container
{
    margin-top: 16px;
    column-gap: 16px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.page-content
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
}

.page-headline
{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    text-transform: uppercase;
}

.page-headline md-icon
{
    --md-icon-size: 52px;
}

.sidebar
{
    flex-shrink: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

.navbar
{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    row-gap: 10px;
    padding: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.navbar-item
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 10px;
    border-radius: 5px;
    transition: .1s;
}

{
    --md-icon-size: 24px;
}

.navbar-item:not(.selected):hover
{
    background-color: rgba(0, 0, 0, 0.075);
    cursor: pointer;
}

.navbar-item.selected
{
    background-color: var(--md-sys-color-secondary-container);
    cursor: default;
}

.navbar-item.selected md-icon
{
    font-variation-settings: 'FILL' 1;
}

@media screen and (max-width: 1340px)
{
    header
    {
        flex-direction: column;
        row-gap: 16px;
        width: 95%;
    }

    .specialization-container
    {
        flex-wrap: wrap;
        gap: 8px;
        width: 100%;
    }

    .login-btn
    {
        width: 100%;
    }

    .page-container
    {
        flex-direction: column-reverse;
        align-items: stretch;
        width: 95%;
    }

    .sidebar
    {
        width: 100%;
        row-gap: 16px;
    }

    .navbar
    {
        width: 100%;
        align-items: stretch;
    }

    .page-headline
    {
        align-self: center;
    }
}
