* {
    box-sizing: border-box;
}

html, head, body {
    margin: 0;
    padding: 0;
}

:root {
    --md-ref-typeface-brand: 'Roboto';
    --md-ref-typeface-plain: system-ui;
}

.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: relative;
}

.logo
{
    width: 300px;
    height: auto;
    object-fit: contain;
}

.specialization
{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .1s;
}

.specialization:hover
{
    scale: 1.03;
}

.specialization p
{
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
